html {
	font-family: verdana;
	background-color: lightgray;
	text-align:
}
h1 {
color: red;
font-size: 30px;}

ul li {
border: solid;}

#první {
color> red;
}
prvni-trida{
	font-style: italic
}
tučná_třída{
	font-weight: bold;
color: darkgray;
}
th.tučná třída{
font/size: 30px
}
.orámované{
	border: dashed;
}
highligh{
	color: pink;
	font-weight: bold;
}